<nav class="fixed inset-x-0 bg-[#666060]">
    <div class="flex flex-row text-center mt-2 mb-2 justify-center items-center">
        <div class="basis-1/4 "><input placeholder="Search" type="text" class="input" required=""></div>
        <div class="basis-1/2"><a href="/"><h1 class="text-[35px] font-[1000] italic tracking-tighter text-[#279AF1]">Cloud Club</h1></a></div>
        <div class="basis-1/4 space-x-7 text-[#FFFFFF]">
            <a href="" class="text-[16px] font-[300] text-[#FFFFFF]">Sneakers</a>
            <a href="/login" class="text-[16px] font-[300] text-[#FFFFFF]">Acount</a>
            
        </div>
        
    </div>
</nav>