<%- include( 'layouts/head' ) %>
<body>
    <form action="/admin" method="post">
        Nombre del producto <input type="text" name="title"><br> 
        Precio del producto <input type="number" name="price"><br> 
        Url del producto <input type="text" name="img"><br>
        Descripción <input type="text" name="desc"><br>
        Stock <input type="number" name="stock"><br>
        <br>
        <br><input type="submit">
    </form>
</body>