<%- include( 'layouts/head' ) %>
<body>
    
    <%- include( 'layouts/navbar' ) %>
    <img class="img-fluid" src="https://cms-cdn.flightclub.com/2200/866ab1bd3f95-3be8-de11-7da2-07e71565.jpg" alt="">
    <%- include( 'layouts/footer' ) %>
    
</body>
</html>