<%- include( 'layouts/head' ) %>
<body>
     <%- include( 'layouts/navbar' ) %>
    <div class="container-fluid" style="height: 1000px; background-color: #f9f9f9;">
    
        <div class="d-flex row">
            <div class="col-xxl-4"></div>

            <div class="col-xxl-4 px-5" style="margin-top: 240px; background-color: #ffffff; height: 450px;">
                <h1 class="m-3 btn-login-tit">LOGIN</h1><hr>
                <form action="/login" method="post" class="input-group mt-4 mb-4" >
                    <label class="label">Email</label><input class="input-login"  type="email" name="username" required autocomplete="off"><br>
                    <label class="label">Contraseña</label><input class="input-login"  type="password" name="password" required autocomplete="off"><br>
                    <button class="btn-login mt-5 " type="submit"><h3 class="btn-login-text ">LOGIN</h3></button>
                </form>

                <div class="row pb-4">
                    <div class="col-xxl-4 "><hr></div>
                    <div class="col-xxl-4 d-flex align-items-center justify-content-center "><h5 class="new-to-cloud ">NEW TO CLOUD CLUB?</h5></div>
                    <div class="col-xxl-4"><hr></div>
                </div>

                <a href="/signup"><button class="btn-signup">SIGNUP</button></a>
            </div>

            <div class="col-xxl-4"></div>
        </div>
    
    </div>
   
    <%- include( 'layouts/footer' ) %>
</body>
</html>