<%- include( 'layouts/head' ) %>

<body>
    <%- include( 'layouts/navbar' ) %>
    <div class="d-flex flex-column align-items-center">
        <h2 style="margin-top:340px">Hasta Luego!</h2>
        <div class="bn40div">
            <a class="bn40" href="/">Ir al inicio</a>
            <a class="bn40" href="/api/login">Acceder al e-commerce</a>
        </div>
    </div>
</body>
</html>
