<%- include( 'layouts/head' ) %>
<body>
    <%- include( 'layouts/navbar' ) %>
    <div class="not d-flex flex-column justify-content-center align-items-center" style="margin-top: 350px;">
        <h3>Oops!</h3>
        <h3>Página no encontrada</h3>
        <div class="bn40div">
            <a class="bn40" href="/">Volver</a>
        </div>
    </div>
</body>