<%- include( 'layouts/head' ) %>
<body>
    <%- include( 'layouts/navbar' ) %>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 style="margin-top: 340px;">Gracias por su compra</h2>
        <h5>La información de la compra a sido enviada a su email</h5>
        <div class="bn40div">
            <a class="bn40" href="/">Volver</a>
        </div>
    </div>
</body>