/* -------------------------------NAV--------------------------------- */
.navb{
    background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
filter: blur(-2px);
}

.Cloud{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -3px;
  font-size: 40px;
}
.Cloud:hover{
    color: white;
}
.search-nav{
    width: 300px;
    background-color: transparent;
}
.nav-right{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.nav-right:hover{
    text-decoration: none;
    color: white;
}

#nav-right{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 16px;
    
}
#form-nav{
    background-color: transparent;
    color: white;
}


/* ---------------Login-------------- */

  .input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    background-color: transparent;
    color: #ffffff;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
   }
   
   .input:focus, input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
   }
   
   .input::placeholder {
    color: white;
   }
   
   .input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }



   .input-login {
    width: 100%;
    height: 40px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .label {
    display: block;
    margin-bottom: .3rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .input-login:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
  }
  
  .input-group:hover .label, .input:focus {
    color: #05060fc2;
  }

  .btn-login{
    width: 100%;
    height:40px;
    border: none;
  }
  .btn-signup{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    width: 100%;
    height:40px;
    border:1px black solid;
    color: #000000;
    font-weight: bold;
  }
  .input-admin{
    width:200px;
  }
  .btn-login-text{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #303030;
  }
  .btn-login-tit{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 18px;
    font-weight: medium;
  }

  .new-to-cloud{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    color: rgb(129, 129, 129);
    line-height: 16px;
  }



/* ------------INDEX----------- */
.shoes-index a{
  text-decoration: none;
}
.shoes-a{
  color: #fff !important;
  text-decoration: none;
}
.shoes-titulo{
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: medium;
  color: #818181;
  font-size: 12px;
}
.shoes-desc{
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: medium;
  color: #000000;
  font-size: 14px;
}



/* ----------------VISTAS SHOES ----------------*/

.shoes-title-vista{
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: medium;
  color: #818181;
  font-size: 12px;
}

.shoes-desc-vista{
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #000000;
}
