.shoes-title-vista{
    font-family: $helvetica;
    font-weight: medium;
    color: #818181;
    font-size: 12px;
  }
  
  .shoes-desc-vista{
    font-family: $helvetica;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
  }