.shoes-title-vista{
    font-family: $helvetica;
    font-weight: medium;
    color: #818181;
    font-size: 12px;
  }
  
  .shoes-desc-vista{
    font-family: $helvetica;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
  }
  .colShoes{
    padding-top: 50px;
  }
  .price-shoes{
    font-family: $helvetica;
    color: #000000;
    font-size: 15px;
    margin-bottom: 50px;
  }